streamlit
groq
langchain
langchain-chroma
langchain-ollama
langchain-community
chromadb
python-dotenv
pandas
pillow
gTTS
altair
plotly
fpdf
pypdf
docx2txt
pydantic
streamlit-lottie
streamlit-echarts
langgraph
duckduckgo-search
pysqlite3-binary
pydicom
